.login-page form {
    display: inline-block;
}

.login-page a {
    -moz-appearance: button;
    -webkit-appearance: button;
    text-decoration: none;
    color: initial;
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 1px 7px 2px;
}

.register-page ul {
    list-style-type: none;
}

.register-page li {
    margin-bottom: 10px;
}

.register-page form {
    max-width: 300px;
}

.register-page input[type="text"],
.register-page input[type="number"],
.register-page input[type="date"],
.register-page input[type="password"],
.register-page select {
    width: 100%;
}